// Default parameters
params.cdr_electrode_set = "n400"
params.cdr_response_type = "univariate"
params.cdr_subset = false

singularity {
    enabled = true
    autoMounts = true
    runOptions = "--nv -B /net/vast-storage.ib.cluster/scratch/vast/cpl/jgauthie/scratch/broderick2018 -B /rdma/vast-rdma/vast/cpl/jgauthie/scratch/broderick2018"
}

process {
    withLabel: "mne" {
        container = "/home/jgauthie/om/vagrant/singularity/datasci-mne.simg"
    }

    withLabel: "cdr" {
        container = "/home/jgauthie/om/vagrant/singularity/cdr.simg"
    }

    withLabel: "r" {
        container = "/home/jgauthie/om/vagrant/singularity/rstudio.simg"
    }
}
