singularity {
    enabled = true
    autoMounts = true
    runOptions = "-B /net/vast-storage.ib.cluster/scratch/vast/cpl/jgauthie/scratch/broderick2018"
}

process {
    withLabel: "mne" {
        container = "/home/jgauthie/om/vagrant/singularity/datasci-mne.simg"
    }

    withLabel: "cdr" {
        container = "/home/jgauthie/om/vagrant/singularity/datasci-cdr.simg"
    }
}
