[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mne = "*"
scipy = "*"
pandas = "*"
transformers = "*"
torch = "==1.11.0+cpu"

[dev-packages]
mypy = "*"
jupyterlab = "*"

[requires]
python_version = "3.7"
